@charset "utf-8";
/* CSS Document */

body {
	background-color: #e2e7e5;
}

#main {
	background-image: url(../img/hintergrund.png);
	background-repeat: repeat-y;
	margin: 0px auto 20px;
	width: 1017px;
	padding: 0px 8px 140px;
}

#header {
	background-image: url(../img/header.png);
	background-repeat: no-repeat;
	width: 1033px;
	height: 9px;
	margin: 0px 0px 0px -8px;
	padding: 0px 8px;
}

#content {
	background-image: url(../img/header_plus_content.jpg);
	background-repeat: no-repeat;
	width: 1017px;
	height: 698px;
	padding: 0px 0px 0px;
	position: relative;
}

#footer {
	background-image: url(../img/footer.png);
	background-repeat: no-repeat;
	background-color: #e2e7e5;
	width: 937px;
	height: 19px;
	padding: 70px 48px 9px;
}






#button_print,
#button_digital {
	position: absolute;
	text-indent: -9999px;
	top: 558px;
	height: 140px;
}

#button_print {
	width: 470px;
	left: 40px;
}

#button_digital {
	width: 467px;
	left: 510px;
}


