<!-- ###LANDINGPAGE_1_v2### -->
		<div id="lp_zugaben">
			<script type="text/javascript">
				$(document).ready(function(){
					$('#lp_zugaben .zugabe').click(function(){
						var el = $(this);
						$(el.attr('rel')).show().siblings().hide();
						$('#lp_zugaben .checkbox').removeClass('checked');
						$('.checkbox', el).addClass('checked');
						return false;				
					});
				});
			</script>
		
			<div class="grid_2 gradient_h224" style="margin:0; margin-left:-10px; border-left: 10px solid #fff; border-bottom: 15px solid #fff;">
				<div class="box">
					<h3>Ihr Geschenk zur Auswahl:</h3>
                    <div class="zugabenwrapper"><a class="zugabe" rel="#zugabe1" href="#zugabe1"><img src="###IMAGE_0_THUMB###" /><span class="checkbox checked"></span></a></div>
                    <div class="zugabenwrapper"><a class="zugabe" rel="#zugabe2" href="#zugabe2"><img src="###IMAGE_1_THUMB###" /><span class="checkbox"></span></a></div>
                    <div class="zugabenwrapper"><a class="zugabe" rel="#zugabe3" href="#zugabe3"><img src="###IMAGE_2_THUMB###" /><span class="checkbox"></span></a></div>
				</div>
			</div>
			
			<div class="grid_2 gradient_h340" style="margin:0; margin-left:-10px; border-left: 10px solid #fff;">
				<div id="zugabe1">
					<div class="box">
						<img width="320" height="326" src="###IMAGE_0_BIG###" />
						<div class="content">
							<h4>###HEADLINE_0###</h4>
							<p class="bodytext">###TEXT_0###</p>
						</div>
					</div>
					<a class="btn_bestellen" href="###LINK_0###"">Hier bestellen</a>
				</div>
				<div id="zugabe2">
					<div class="box">
						<img width="320" height="326" src="###IMAGE_1_BIG###" />
						<div class="content">
							<h4>###HEADLINE_1###</h4>
							<p class="bodytext">###TEXT_1###</p>
						</div>
					</div>
					<a class="btn_bestellen" href="###LINK_1###"">Hier bestellen</a>
				</div>
				<div id="zugabe3">
					<div class="box">
						<img width="320" height="326" src="###IMAGE_2_BIG###" />
						<div class="content">
							<h4>###HEADLINE_2###</h4>
							<p class="bodytext">###TEXT_2###</p>
						</div>
					</div>
					<a class="btn_bestellen" href="###LINK_2###"">Hier bestellen</a>
				</div>
			</div>
    </div>
      
<!-- ###LANDINGPAGE_1_v2### -->

<!-- ###LANDINGPAGE_1### -->
<div class="gradient_h458" style="height:auto; overflow:hidden;  border-left: 5px solid rgb(255, 255, 255); border-right: 5px solid rgb(255, 255, 255);">
	<div class="grid_1" style="margin:0; border-right:10px solid #fff;">
		<div class="zoom_box" style="display: none;"> 
			<a class="close" href="#" onclick="$(this).parent().hide(); return false;">Schliessen</a>
			<div class="zoom_img"><img width="320" height="326" id="selected_image" alt="" src="###IMAGE_0_BIG###"></div> 
		</div>
	 
		
		<div class="box zugabenbox">
			<div class="csc-textpic-text">
				<div class="content-elements">
                    <div class="zugabenwrapper"><a class="zugabe" href="#" onclick="$('.zoom_box').hide(); $(this).closest('.zugabenbox').siblings('.zoom_box').show(); return false;">
					<img class="stoerer" src="/fileadmin/templates_new/img/stoerer_small.png" style="">
					<img src="###IMAGE_0_THUMB###" /></a></div>
					
					<h3>Ihr Geschenk</h3>
					
					<h4>###HEADLINE_0###</h4>
					<p class="bodytext">###TEXT_0###</p>
					<p>&nbsp;</p>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="grid_1" style="margin:0; border-left:10px solid #fff; border-right:10px solid #fff; margin-left:-10px;">
		<div class="zoom_box" style="display: none;"> 
			<a class="close" href="#" onclick="$(this).parent().hide(); return false;">Schliessen</a>
			<div class="zoom_img"><img width="320" height="326" id="selected_image" alt="" src="###IMAGE_1_BIG###"></div> 
		</div>
	 
		
		<div class="box zugabenbox">
			<div class="csc-textpic-text">
				<div class="content-elements">
					<a class="zugabe" href="#" onclick="$('.zoom_box').hide(); $(this).closest('.zugabenbox').siblings('.zoom_box').show(); return false;">
					<img class="stoerer" src="/fileadmin/templates_new/img/stoerer_small.png" style="">
					<img src="###IMAGE_1_THUMB###" /></a>
					
					<h3>Ihr Geschenk</h3>
					
					<h4>###HEADLINE_1###</h4>
					<p class="bodytext">###TEXT_1###</p>
					<p>&nbsp;</p>
				</div>
			</div>
			
		</div>
	</div>
	<div class="grid_1" style="margin:0; border-left:10px solid #fff; margin-left:-10px;">
		<div class="zoom_box" style="display: none;"> 
			<a class="close" href="#" onclick="$(this).parent().hide(); return false;">Schliessen</a>
			<div class="zoom_img"><img width="320" height="326" id="selected_image" alt="" src="###IMAGE_2_BIG###"></div> 
		</div>
	 
		
		<div class="box zugabenbox">
			<div class="csc-textpic-text">
				<div class="content-elements">
					<a class="zugabe" href="#" onclick="$('.zoom_box').hide(); $(this).closest('.zugabenbox').siblings('.zoom_box').show(); return false;">
					<img class="stoerer" src="/fileadmin/templates_new/img/stoerer_small.png" style="">
					<img src="###IMAGE_2_THUMB###" /></a>
					
					<h3>Ihr Geschenk</h3>
					
					<h4>###HEADLINE_2###</h4>
					<p class="bodytext">###TEXT_2###</p>
					<p>&nbsp;</p>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="container_3" style="padding: 0pt; margin-bottom: 0pt;">
		<div class="grid_1" style="margin: 0pt; border-right: 10px solid rgb(255, 255, 255);">
			<div class="box"><a class="btn_bestellen" id="selected_btn" href="###LINK_0###">Hier bestellen</a></div>
		</div>
		
		<div class="grid_1" style="margin: 0pt; border-left: 10px solid rgb(255, 255, 255); border-right: 10px solid rgb(255, 255, 255); margin-left:-10px;">
			<div class="box"><a class="btn_bestellen" id="selected_btn" href="###LINK_1###">Hier bestellen</a></div>
		</div>
		
		<div class="grid_1" style="margin: 0pt; border-left: 10px solid rgb(255, 255, 255); margin-left:-10px;">
			<div class="box"><a class="btn_bestellen" id="selected_btn" href="###LINK_2###">Hier bestellen</a></div>
		</div>
	</div>
	
	
</div>
<!-- ###LANDINGPAGE_1### -->



<!-- ###LANDINGPAGE_2### -->
<div id="lp_zugaben">
	<script type="text/javascript">
		$(document).ready(function(){
			$('#lp_zugaben .zugabe').click(function(){
				var el = $(this);
				$(el.attr('rel')).show().siblings().hide();
				$('#lp_zugaben .checkbox').removeClass('checked');
				$('.checkbox', el).addClass('checked');
				return false;				
			});
		});
	</script>

	<div class="grid_2 gradient_h224">
		<div class="box">
			<h3>Ihr Geschenk zur Auswahl:</h3>
            <div class="zugabenwrapper"><a class="zugabe" rel="#zugabe1" href="#zugabe1"><img src="###IMAGE_0_THUMB###" /><span class="checkbox checked"></span></a></div>
            <div class="zugabenwrapper"><a class="zugabe" rel="#zugabe2" href="#zugabe2"><img src="###IMAGE_1_THUMB###" /><span class="checkbox"></span></a></div>
		</div>
	</div>
	
	<div class="grid_2 gradient_h340">
		<div id="zugabe1">
			<div class="box">
				<img width="320" height="326" src="###IMAGE_0_BIG###" />
			
				<h4>###HEADLINE_0###</h4>
				<p class="bodytext">###TEXT_0###</p>
			</div>
			<a class="btn_bestellen" href="###LINK_0###">Hier bestellen</a>
		</div>
		
		<div id="zugabe2">
			<div class="box">
				<img width="320" height="326" src="###IMAGE_1_BIG###" />
			
				<h4>###HEADLINE_1###</h4>
				<p class="bodytext">###TEXT_1###</p>
			</div>
			<a class="btn_bestellen" href="###LINK_1###">Hier bestellen</a>
		</div>
	</div>
</div>
<!-- ###LANDINGPAGE_2### -->



<!-- ###LANDINGPAGE_3### -->
 <div class="grid_2 gradient_h284">
 	<div class="zoom_box" style="top: -45px;	display: none;"> 
        <div class="zoom_img"><img width="320" height="326" id="selected_image" src="###IMAGE_0_BIG###" /></div> 
    </div>
 
 	
  <div class="box zugabenbox">
		<div class="csc-textpic-text">
			<div class="content-elements">
                <div class="zugabenwrapper"><a class="zugabe" href="#" onclick="$('.zoom_box').toggle(); return false" onmouseover="$('.zoom_box').show();" onmouseout="$('.zoom_box').hide();">
				    <img src="###IMAGE_0_THUMB###" />
				</a></div>
				
				<h3>Ihr Geschenk</h3>
								
				<h4>###HEADLINE_0###</h4>
				<p class="bodytext">###TEXT_0###</p>
				<p>&nbsp;</p>
				

			</div>
		</div>
		<a class="btn_bestellen" id="selected_btn" href="###LINK_0###">Hier bestellen</a>
  </div>
</div>
<!-- ###LANDINGPAGE_3### -->



<!-- ###LANDINGPAGE_4### -->
<div class="content-element" style="background-color:###COLOR###;height:160px;">
    <div class="content-landingpage">
        <div class="content-landingpage-top-column">
            <div class="content-landingpage-inner">
                &nbsp;
            </div>
        </div>
        <div class="content-landingpage-top-column">
            <div class="content-landingpage-inner">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="clearer"></div>
</form>
</div>
<!-- ###LANDINGPAGE_4### -->


<!-- ###TREADMILL### -->
<div class="container_4">
    <div class="grid_2 gradient_h578">
        <div class="box">
            <h1>###HEADLINE_ABO###</h1>
            <h4>###SUB_HEADLINE_ABO###</h4>
 			###IMAGE_ABO###
            <div class="content">
 				###TEXT_ABO###
            </div>
            <div id="richsnippetcontainer"></div>
        </div>
    </div>

    <form id="selection_form" method="get" action="###FORM_LINK###">
        <input type="hidden" name="abo" value="###ABO_ID###" />
        <input type="hidden" name="r" id="r-value" value="" />
        <div class="grid_2 gradient_h137">
            <div class="box">
                <h3>###HEADLINE_PRODUCT###</h3>
                <p>###TEXT_ABO_2###</p>
                <label>Schnellauswahl:</label>
                <select id="selection" name="selection" style="width:269px;">
                    ###PRODUCT_LIST###
                </select>
            </div>
        </div>

        <div id="zugaben" class="grid_1 gradient_h436">
            <div class="zoom_box">
                <a href="javascript:closeZugabe()" class="close">Schliessen</a>
                <div class="zoom_img"><img src="/fileadmin/templates_new/img/t.png" alt="" width="320" height="326" id="selected_image" /></div>
            </div>

            <div class="zugabenwrapper"><a href="#" class="zugabe" id="cell_0"><img class="stoerer" style="display:none;" src="blank.gif" /><span></span></a></div>
            <div class="zugabenwrapper"><a href="#" class="zugabe" id="cell_1"><img class="stoerer" style="display:none;" src="blank.gif" /><span></span></a></div>
            <div class="zugabenwrapper"><a href="#" class="zugabe" id="cell_2"><img class="stoerer" style="display:none;" src="blank.gif" /><span></span></a></div>
            <div class="zugabenwrapper"><a href="#" class="zugabe" id="cell_3"><img class="stoerer" style="display:none;" src="blank.gif" /><span></span></a></div>
            <div class="zugabenwrapper"><a href="#" class="zugabe" id="cell_4"><img class="stoerer" style="display:none;" src="blank.gif" /><span></span></a></div>
            <div class="zugabenwrapper"><a href="#" class="zugabe" id="cell_5"><img class="stoerer" style="display:none;" src="blank.gif" /><span></span></a></div>
            <div class="zugabenwrapper"><a href="#" class="zugabe" id="cell_6"><img class="stoerer" style="display:none;" src="blank.gif" /><span></span></a></div>
            <div class="zugabenwrapper"><a href="#" class="zugabe" id="cell_7"><img class="stoerer" style="display:none;" src="blank.gif" /><span></span></a></div>
        </div>

        <div id="zugaben_auswahl" class="grid_1 gradient_h436">
            <div id="auswahl_box"  style="display:none;">
                <h3>###HEADLINE_SELECT###</h3>

                <h4 id="selected_headline"></h4>
                <p id="selected_text"></p>
                <a class="btn_weiter" href="#" id="selected_btn">weiter</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    ###PRODUCT_ARRAY###
    var products = all_products;
  
    var page = 0;
    var selected_item = ###SELECTED_ITEM###;
	var selected_product = ###SELECTED_PRODUCT###;
    var is_group_selection = ###IS_GROUP_SELECTION###;
	var preselection = ###IS_PRE_SELECTION###;
    var all_page;
    var all_selected_item;



    function closeZugabe(){
        $('.zoom_box').hide();
    }
  
    function draw_product() {
        $( '#auswahl_box' ).show();
        $( '#selected_headline' ).text( products[selected_item]['headline'] );
        $( '#selected_text' ).html( products[selected_item]['text'] );
        $( '#selected_image' ).attr( 'src', products[selected_item]['big_image'] );

        $( '#selection option' ).attr( 'selected', '' );
        $( '#selection option[value="'+products[selected_item]['uid']+'"]' ).attr( 'selected', 'selected' );
	
        $('.zoom_box').show();
    }

    function handle_select_change() {
      return function ( event ) {
        event.preventDefault();
        var all_ix;
        var uid = $( this ).val();

        $.each( all_products,  function( ix, elem ) {
				  if ( elem['group'].length > 0 ) {
            // console.log( "found group: "+elem['headline'] );
  					$.each ( elem['group'], function ( ix2, elem2 ) {
  						if ( elem2['uid'] == uid ) {
  						  // console.log( 'found prod in group: '+elem2['headline'] );
  			
  							all_ix = ix;
                all_products[ix]['last_selected_item'] = selected_item;
                all_selected_item = ix;
  							selected_item = ix2;
  							is_group_selection = true;
  							products = elem['group'];
  						}
  					} )
  				}
  				else {
            if ( elem['uid'] == uid ) {
                // console.log( 'found single prod: '+elem['headline'] );
  						all_ix = ix;
  						selected_item = ix;
  						products = all_products;
  						is_group_selection = false;
  					}
  				}
      } );
			
			/* figure out, what page the chosen product is on. in case of group selection, this is the page where the
			 * group item is located. 
			 */
			page = 0;
			loop = true;
			do {
				if ( page == 0 ) {
					elems_on_prev = 0;
					elems_on_current = ( all_products.length <= 8 ? 8 : 7 );
				}
				else {
					elems_on_prev = (page)*6+1
					elems_on_current = ( all_products.length <= (elems_on_prev+7) ? 7 : 6 );
				}
				
				( elems_on_prev + elems_on_current > all_ix ? loop = false : page += 1 );
			} while ( loop );
      //console.log( 'page: '+ page );
      //console.log( 'is_group_selection: '+is_group_selection );
      //console.log( 'products.lenght: '+ products.length );
      //console.log( 'all_ix: ' + all_ix );
      
      if ( is_group_selection ) {
        all_page = page;
        page = 0;      
      }
			
            set_images();
            draw_product();
        }
    }

    function click_product_event( cell, elems_on_previous_pages, offset ) {
        return function( event ) {
            event.preventDefault();

            new_selected_item = elems_on_previous_pages+cell-offset;
            $( '#zugaben' ).find( 'span' ).removeClass( 'checked' );
            $( '#zugaben' ).find( '.zugabenwrapper' ).removeClass( 'checked' );

            if ( products[new_selected_item]['group'].length > 0 ) {
                all_selected_item = new_selected_item;
                all_page = page;

                products = all_products[new_selected_item]['group'];
                new_selected_item = ( "last_selected_item" in all_products[new_selected_item] ?
                    all_products[new_selected_item]["last_selected_item"] :
                    0 );
                selected_item = new_selected_item;

                page = 0;
                is_group_selection = true;
                set_images();
            }
            else {
                $( this ).find( 'span' ).addClass( 'checked' );
                $( this ).parent().addClass( 'checked' );
            }
            selected_item = new_selected_item;
            draw_product();
            // console.log( '=selected_item: '+selected_item );
            // console.log( '=elems_on_previous_pages: '+elems_on_previous_pages );
            // console.log( '=cell: '+cell );
            // console.log( '=offset: '+offset );
        }
    }

    function click_prev_event() {
        return function( event ) {
            event.preventDefault();
            page -= 1;
            set_images();
            closeZugabe();
        }
    }
    function click_next_event() {
        return function( event ) {
            event.preventDefault();
            page += 1;
            set_images();
            closeZugabe();
        }
    }
    function click_up_event() {
        return function( event ) {
            event.preventDefault();
            $.each( products[selected_item], function( key, value ) {
                if ( key != 'group' ) {
                    all_products[all_selected_item][key] = products[selected_item][key]
                    //          alert( key+" "+value );
                }
            } );

            all_products[all_selected_item]['last_selected_item'] = selected_item;

            products = all_products;
            page = all_page;
            selected_item = all_selected_item;
            is_group_selection = false;

            set_images();
        }
    }
    function click_void_event() {
        return function( event ) {
            event.preventDefault();
        }
    }
    function set_images() {
        // console.log( "page: "+ page );
        var elems_on_previous_pages = 0;
        var left_pager = false;
        var right_pager = false;
        var offset = 0;
        if ( page == 0 ) {
            if ( products.length > 8 ) {
                right_pager = true;
            }
        }
        else {
            elems_on_previous_pages = page*6+1;
            left_pager = true;
            offset = 1;
            right_pager = ( products.length - (elems_on_previous_pages+1) > 6 );
        }
        // console.log
        // console.log( "left_pager: "+ left_pager );
        // console.log( "right_pager: "+ right_pager );
        for( var cell=0; cell<8; cell++ ) {
            var img;
            var prod_ix = elems_on_previous_pages+cell-offset;

            $( '#cell_'+cell ).unbind();
            $( '#cell_'+cell+' span' ).attr( 'class', '' );
            $( '#cell_'+cell).parent().removeClass( 'checked' );
            $( '#cell_'+cell+' img.stoerer' ).hide();

            if ( left_pager &&  cell == 0 ) {
                img = '###BTN_BACK###';
                $( '#cell_'+cell ).click( click_prev_event() );
            }
            else if ( right_pager && cell == 7 ) {
                img = '###BTN_FORWARD###';
                $( '#cell_'+cell ).click( click_next_event() );
            }
            else {
                if ( prod_ix < products.length ) {
                    img = products[prod_ix]['image'];
                    $( '#cell_'+cell+' span' ).addClass( 'checkbox' );
                    $( '#cell_'+cell ).click( click_product_event( cell, elems_on_previous_pages, offset ));

                    if ( products[prod_ix]['group'].length > 0 ) {
                        $( '#cell_'+cell+' img.stoerer' ).show();
                    }
                    if ( selected_item == prod_ix ) {
                        $( '#cell_'+cell+' span' ).addClass( 'checked' );
                        $( '#cell_'+cell).parent().addClass( 'checked' );
                    }
                }
                else {
                    if ( is_group_selection && prod_ix == products.length )  {
                        img = '###BTN_UP###';
                        $( '#cell_'+cell ).click( click_up_event() );
                    }
                    else {
                        img = '/fileadmin/templates_new/img/t.png';
                        $( '#cell_'+cell ).click( click_void_event( ));
                    }
                }
            }
            $( '#cell_'+cell ).css( 'background-image', 'url("'+img+'")' )
//            $( '#cell_'+cell+' img.product' ).attr( "src", img );
        }
    }
    set_images();
    draw_product();
    closeZugabe();
  
    $( '#selection' ).change( handle_select_change() );
    $( '#selected_btn' ).click( function( event ) {
        event.preventDefault();
        $( '#selection_form' ).submit();
    });

	if(preselection == true){
		preselected_item = 0;
		if(selected_item > 6){
			page += 1;
			set_images();
			closeZugabe();
		}
		$.each ( products[selected_item]['group'], function ( ix2, elem2 ) {
			if ( elem2['uid'] == selected_product ) {
				// console.log( 'found prod in group: '+elem2['headline'] );

				all_ix = selected_item;
				all_products[selected_item]['last_selected_item'] = selected_item;
				all_selected_item = selected_item;
				preselected_item = ix2;
			}
		} );

		$("#selection option").filter(function() {
			return $(this).val() == selected_product;
		}).attr('selected', true);
		$( '#selected_headline' ).text( products[selected_item]['group'][preselected_item]['headline'] );
		$( '#selected_text' ).html( products[selected_item]['group'][preselected_item]['text'] );
		$( '#selected_image' ).attr( 'src', products[selected_item]['group'][preselected_item]['big_image'] );
		var cell_item = selected_item;
		if(selected_item > 6){
			cell_item = selected_item - 6;
		}
		$('#cell_'+cell_item).css('background-image','url('+products[selected_item]['group'][preselected_item]['image']+')');
		$('.zugabe span').removeClass('checked');
        $('.zugabenwrapper').removeClass('checked');
		$( '#cell_'+cell_item+' span' ).addClass( 'checked' );
        $( '#cell_'+cell_item).parent().addClass( 'checked' );

	}
</script>
<!-- ###TREADMILL### -->


<!-- ###DIGITAL### -->
<div class="container_4">
    <div class="grid_2 gradient_h578">
        <div class="box">
            <h1>###HEADLINE_ABO###</h1>
            <h4>###SUB_HEADLINE_ABO###</h4>
 			###IMAGE_ABO###
            <div class="content">###TEXT_ABO_2###</div>
        </div>
    </div>

    <form id="selection_form" method="get" action="###FORM_LINK###" name="selectionform">
        <input type="hidden" name="abo" value="###ABO_ID###" />
        <input type="hidden" name="r" id="r-value" value="" />
        <div class="grid_2 gradient_h578">
            <div class="box cf">
                <h3>###HEADLINE_PRODUCT###</h3>
                <p>###TEXT_ABO###</p>
                <div class="btn_section"><a class="btn_weiter left" href="#" id="selected_btn">weiter</a></div>
                <div id="richsnippetcontainer"></div>
            </div>
        </div>
        
    </form>
</div>
<script type="text/javascript">
    $( '#selected_btn' ).click( function( event ) {
        event.preventDefault();
        $( '#selection_form' ).submit();
    })
</script>
<!-- ###DIGITAL### -->


<!-- ###HERO### -->
<div class="content-element" style="background-color:###COLOR###;">
    <div class="content-2-columns">
        <div class="content-2-columns-column">
            <div class="content-inner-left">
                ###IMAGE###
            </div>
        </div>
        <div class="content-2-columns-column">
            <div class="content-inner-right">
                <h1 class="img">###HEADLINE###</h1>
                ###TEXT###
                ###LINK###
            </div>
        </div>
    </div>
    <div class="clearer"></div>
</div>
<!-- ###HERO### -->



<!-- ###HIGHLIGHT### -->
<div class="highlight###ADD_CLASS###" style="background-color:###COLOR###;">
    <div class="content-inner">
        ###IMAGE###
        ###LINK###
        ###TEXT###
    </div>
</div>
<!-- ###HIGHLIGHT### -->



<!-- ###TEASER### -->
<div class="teaser" style="background-color:###COLOR###;">
    <div class="content-inner">
        ###LINK###
        ###TEXT###
    </div>
</div>
<!-- ###TEASER### -->



<!-- ###HORIZONTAL### -->
<div class="content-element" style="background-color:###BACKCOLOR_1###;">
    <div class="content-2-columns">
        <div class="content-2-columns-column">
            <div class="content-inner-left">
                ###ABO_IMAGE###
            </div>
        </div>
        <div class="content-2-columns-column">
            <div class="content-inner-right">
                <h1 class="img">###ABO_HEADLINE###</h1>
                ###ABO_TEXT###
            </div>
        </div>
    </div>
    <div class="white-line" style="display:block;"></div>
</div>
<div class="content-element" style="background-color:###BACKCOLOR_2###;">
    <div class="content-2-columns">
        <div class="content-2-columns-column">
            <div class="content-inner-left">
                ###PRODUCT_IMAGE###
            </div>
        </div>
        <div class="content-2-columns-column">
            <div class="content-inner-right">
                <h1 class="img">###PRODUCT_HEADLINE###</h1>
                ###PRODUCT_TEXT###
                <form name="productselection" action="###ACTION###" method="get">
                    <input type="hidden" name="tx_zeitabo_pi1[cmd]" value="order">
                    ###HIDDEN_FIELDS###
                </form>
                ###ABO_LINK###
            </div>
        </div>
    </div>
    <div class="white-line" style="display:block;"></div>
</div>
<!-- ###HORIZONTAL### -->



<!-- ###DOUBLE### -->
<script type="text/javascript">
    var products = new Array();
    ###PRODUCT_ARRAY###
    function setProduct(uid) {
        document.productselection.elements["tx_zeitabo_pi1[prod_uid]"].value = uid;
        document.productselection.elements["tx_zeitabo_pi1[prod_no_1]"].value = products[uid][0];
        document.productselection.elements["tx_zeitabo_pi1[prod_no_2]"].value = products[uid][1];
        document.productselection.elements["tx_zeitabo_pi1[prod_no_3]"].value = products[uid][2];
        document.productselection.elements["tx_zeitabo_pi1[prod_copayment]"].value = products[uid][3];
    }
</script>
<div class="content-element" style="background-color:###BACKCOLOR_1###;">
    <form name="productselection" action="###ACTION###" method="get">
        <input type="hidden" name="tx_zeitabo_pi1[cmd]" value="order">
        ###HIDDEN_FIELDS###
    </form>
    <div class="content-2-columns">
        <div class="content-2-columns-column">
            <div class="content-inner-left">
                ###ABO_IMAGE###
            </div>
        </div>
        <div class="content-2-columns-column">
            <div class="content-inner-right">
                <h1 class="img">###ABO_HEADLINE###</h1>
                ###ABO_TEXT###
            </div>
        </div>
    </div>
    <div class="white-line" style="display:block;"></div>
</div>
<div class="content-element" style="background-color:###BACKCOLOR_2###;">
    <div class="content-2-columns">
        <div class="content-2-columns-column">
            <div class="content-inner">
                <h2 class="img">###PRODUCT_HEADLINE_0###</h2>
                ###PRODUCT_IMAGE_0###
                <div class="double-text">###PRODUCT_TEXT_0###</div>
                <div class="clearer"></div>
                ###ABO_LINK_0###
            </div>
        </div>
        <div class="content-2-columns-column" style="width:291px;border-left:2px solid #ffffff;">
            <div class="content-inner">
                <h2 class="img">###PRODUCT_HEADLINE_1###</h2>
                ###PRODUCT_IMAGE_1###
                <div class="double-text">###PRODUCT_TEXT_1###</div>
                ###ABO_LINK_1###
            </div>
        </div>
    </div>
    <div class="clearer"></div>
</div>
<!-- ###DOUBLE### -->



<!-- ###TRIPPLE### -->
<script type="text/javascript">
    var products = new Array();
    ###PRODUCT_ARRAY###
    function setProduct(uid) {
        document.productselection.elements["tx_zeitabo_pi1[prod_uid]"].value = uid;
        document.productselection.elements["tx_zeitabo_pi1[prod_no_1]"].value = products[uid][0];
        document.productselection.elements["tx_zeitabo_pi1[prod_no_2]"].value = products[uid][1];
        document.productselection.elements["tx_zeitabo_pi1[prod_no_3]"].value = products[uid][2];
        document.productselection.elements["tx_zeitabo_pi1[prod_copayment]"].value = products[uid][3];
    }
</script>
<div class="content-element" style="background-color:###BACKCOLOR_1###;">
    <form name="productselection" action="###ACTION###" method="get">
        <input type="hidden" name="tx_zeitabo_pi1[cmd]" value="order">
        ###HIDDEN_FIELDS###
    </form>
    <div class="content-2-columns">
        <div class="content-2-columns-column">
            <div class="content-inner-left">
                ###ABO_IMAGE###
            </div>
        </div>
        <div class="content-2-columns-column">
            <div class="content-inner-right">
                <h1 class="img">###ABO_HEADLINE###</h1>
                ###ABO_TEXT###
            </div>
        </div>
    </div>
    <div class="white-line" style="display:block;"></div>
</div>
<div class="content-element" style="background-color:###BACKCOLOR_2###;">
    <div class="content-3a-columns">
        <div class="content-3a-columns-column">
            <div class="content-inner">
                <h2 class="img">###PRODUCT_HEADLINE_0###</h2>
                ###PRODUCT_IMAGE_0###
                <div class="tripple-text">###PRODUCT_TEXT_0###</div>
                <div class="clearer"></div>
                ###ABO_LINK_0###
            </div>
        </div>
        <div class="content-3a-columns-column">
            <div class="content-inner">
                <h2 class="img">###PRODUCT_HEADLINE_1###</h2>
                ###PRODUCT_IMAGE_1###
                <div class="tripple-text">###PRODUCT_TEXT_1###</div>
                ###ABO_LINK_1###
            </div>
        </div>
        <div class="content-3a-columns-column" style="width:190px;border:0px;">
            <div class="content-inner">
                <h2 class="img">###PRODUCT_HEADLINE_2###</h2>
                ###PRODUCT_IMAGE_2###
                <div class="tripple-text">###PRODUCT_TEXT_2###</div>
                ###ABO_LINK_2###
            </div>
        </div>
    </div>
    <div class="clearer"></div>
</div>
<!-- ###TRIPPLE### -->



<!-- ###SINGLE### -->
<div class="content-element" style="background-color:###BACKCOLOR###;">
    <div class="content-2-columns" style="height:420px;">
        <div class="content-2-columns-column">
            <div class="content-inner-left">
                ###ABO_IMAGE###
            </div>
        </div>
        <div class="content-2-columns-column">
            <div class="content-inner-right">
                <h1 class="img">###ABO_HEADLINE###</h1>
                ###ABO_TEXT###
                <form name="productselection" action="###ACTION###" method="get">
                    <input type="hidden" name="tx_zeitabo_pi1[cmd]" value="order">
                    ###HIDDEN_FIELDS###
                </form>
                ###ABO_LINK###
            </div>
        </div>
    </div>
    <div class="white-line" style="display:block;"></div>
</div>
<!-- ###SINGLE### -->



<!-- ###SINGLEZEIT### -->
<div class="content-element" style="background-color:###BACKCOLOR###;">
    <div class="content-2-columns">
        <div class="content-2-columns-column">
            <div class="content-inner-left">
                ###ABO_IMAGE###
            </div>
        </div>
        <div class="content-2-columns-column">
            <div class="content-inner-right">
                <h1 class="img">###ABO_HEADLINE###</h1>
                ###ABO_TEXT###
                <form name="productselection" action="###ACTION###" method="get">
                    <input type="hidden" name="tx_zeitabo_pi1[cmd]" value="order">
                    ###HIDDEN_FIELDS###
                    <p class="bodytext"><b>Ihre Auswahl</b></p>
                    <select name="tx_zeitabo_pi1[ausgabe]" style="width:269px;">
                        ###OPTIONS###
                    </select>
                </form>
                ###ABO_LINK###
            </div>
        </div>
    </div>
    <div class="white-line" style="display:block;"></div>
</div>
<!-- ###SINGLEZEIT### -->



<!-- ###SELECTION### -->
<style type="text/css">
    @import url("typo3conf/ext/zeitabo/res/order.css");
</style>
<div style="display:none;">
    <form name="zeitabo_order" action="###ACTION###" method="get">
        <input type="hidden" name="tx_zeitabo_pi1[abo_nr]" value="###ORDER_ABO_NR###">
        <input type="hidden" name="tx_zeitabo_pi1[abo_nr_student]" value="###ORDER_ABO_NR_STUDENT###">
        <input type="hidden" name="tx_zeitabo_pi1[abo_offerform]" value="###ORDER_ABO_OFFERFORM###">
        <input type="hidden" name="tx_zeitabo_pi1[prod_nr]" value="###ORDER_PROD_NR###">
        <input type="hidden" name="tx_zeitabo_pi1[prod_name]" value="###ORDER_PROD_NAME###">
        <input type="hidden" name="tx_zeitabo_pi1[prod_copayment]" value="###ORDER_PROD_COPAYMENT###">
        <input type="hidden" name="tx_zeitabo_pi1[pricegroup]" value="###ORDER_PRICEGROUP###">
        <input type="hidden" name="tx_zeitabo_pi1[coupon]" value="###ORDER_COUPON###">
        <input type="hidden" name="tx_zeitabo_pi1[prod_price]" value="###ORDER_PRICE###">
        <input type="hidden" name="tx_zeitabo_pi1[prod_shipping]" value="###ORDER_SHIPPING###">
        <input type="hidden" name="tx_zeitabo_pi1[return_url]" value="###RETURN_URL###">
        <input type="hidden" name="tx_zeitabo_pi1[step1_url]" value="###STEP1_URL###">
        <input type="hidden" name="tx_zeitabo_pi1[mode]" value="init">
    </form>
</div>
<div id="order-main">
    <div id="order-main-top">
        <img src="typo3conf/ext/zeitabo/res/s_auswahl_a.gif" width="150" height="50" border="0" alt="Ihre Auswahl">
        <img src="typo3conf/ext/zeitabo/res//s_daten.gif" width="154" height="50" border="0" alt="Kundendaten">
        <img src="typo3conf/ext/zeitabo/res/s_zahlart.gif" width="99" height="50" border="0" alt="Zahlart">
        <img src="typo3conf/ext/zeitabo/res/s_check.gif" width="152" height="50" border="0" alt="Letzter Check">
    </div>
    <div class="white-line"></div>
    <div id="order-main-middle">
        <div class="middle-top">
            <div class="top-inner">
                <h2 class="image">
                    ###ABO_HEADLINE###
                </h2>
                ###ABO_TEXT###
                <p class="bodytext">###INFO_TEXT###</p>
            </div>
        </div>
        <div class="white-line" style="display:###LINE_DISPLAY###;"></div>
        <div class="middle-bottom">
            <div class="bottom-inner">
                <h2 class="image">
                    ###HEADLINE_CHOICE###
                </h2>
            </div>
            <div class="bottom-inner">
                <h2 class="image">
                    ###PRODUCT_IMAGE###
                </h2>
            </div>
            <div class="bottom-inner">
                <h2 class="image">
                    ###PRODUCT_HEADLINE###
                </h2>
                <p>
                    ###PRODUCT_TEXT###
                </p>
            </div>
        </div>
    </div>
    <div class="white-line"></div>
    <div id="order-main-bottom">
        <div class="left">
            <a href="###RETURN_ABO_URL###">
                <img src="typo3conf/ext/zeitabo/res//b_zurueck.gif" width="76" height="44" border="0" alt="zur&uuml;ck">
            </a>
        </div>
        <div class="right">
            <a href="javascript:document.forms['zeitabo_order'].submit();">
                <img src="typo3conf/ext/zeitabo/res/b_weiter.gif" width="74" height="44" border="0" alt="weiter">
            </a>
        </div>
    </div>
</div>
<!-- ###SELECTION### -->


<!-- ###ORDER_EMAIL### -->
<style type="text/css">
    @import url("typo3conf/ext/zeitabo/res/order.css");
</style>
<form name="kundendaten_a" action="###ACTION###" method="get">
    <input type="hidden" name="tx_zeitabo_pi1[step2_url]" value="###STEP2_URL###">
    ###HIDDEN_FIELDS###
    <div id="order-main">
        <div id="order-main-top">
            <img src="typo3conf/ext/zeitabo/res/s_auswahl.gif" width="150" height="50" border="0" alt="Ihre Auswahl">
            <img src="typo3conf/ext/zeitabo/res/s_daten_a.gif" width="154" height="50" border="0" alt="Kundendaten">
            <img src="typo3conf/ext/zeitabo/res/s_zahlart.gif" width="99" height="50" border="0" alt="Zahlart">
            <img src="typo3conf/ext/zeitabo/res/s_check.gif" width="152" height="50" border="0" alt="Letzter Check">
        </div>
        <div class="white-line"></div>
        <div id="order-main-middle">
            <div class="middle-left">
                <h2 class="image">
                    <img src="typo3conf/ext/zeitabo/res/h_anschrift.gif" width="60" height="12" border="0" alt="Anschrift">
                </h2>
                <!-- ERROR MESSAGE -->
                <p class="error" style="display:###MSG_ERROR###;">Bitte f&uuml;llen Sie alle Pflichtfelder aus!</p>
                <!--
                    Fr eine Fehlermeldung muss im class-Attribut der Feldbeschriftung die Klasse "error" erg„nzt werden.
                    Bei den Pflichtfeldern dieser Seite ist dies beispielhaft vorbelegt.
                -->
                <!-- ERROR MESSAGE -->
                <div class="form">
                    <div class="form-text ###ANREDE_ERROR###">Anrede:*</div>
                    <div class="form-field"><input class="radio" type="radio" name="tx_zeitabo_pi1[anrede]" value="Herr" ###ANREDE_1###><span>Herr</span><input class="radio" type="radio" name="tx_zeitabo_pi1[anrede]" value="Frau" ###ANREDE_2###><span>Frau</span></div>
                </div>
                <div class="form">
                    <div class="form-text">Firma:</div>
                    <div class="form-field"><input class="text" type="text" name="tx_zeitabo_pi1[firma]" value="###FIRMA###"></div>
                </div>
                <div class="form">
                    <div class="form-text ###NAME_ERROR###">Vor- und Nachname:*</div>
                    <div class="form-field"><input class="text-2" type="text" name="tx_zeitabo_pi1[vorname]" value="###VORNAME###"><input class="text-2" type="text" name="tx_zeitabo_pi1[nachname]" value="###NACHNAME###"></div>
                </div>
                <div class="form">
                    <div class="form-text ###STRASSENR_ERROR###">Stra&szlig;e und Hausnr.:*</div>
                    <div class="form-field"><input class="text" type="text" name="tx_zeitabo_pi1[strassenr]" value="###STRASSENR###"></div>
                </div>
                <div class="form">
                    <div class="form-text">Adresszusatz:</div>
                    <div class="form-field"><input class="text" type="text" name="tx_zeitabo_pi1[adresszusatz]" value="###ADRESSZUSATZ###"></div>
                </div>
                <div class="form">
                    <div class="form-text ###PLZORT_ERROR###">PLZ und Ort:*</div>
                    <div class="form-field"><input class="text-4" type="text" name="tx_zeitabo_pi1[plz]" value="###PLZ###"><input class="text-3" type="text" name="tx_zeitabo_pi1[ort]" value="###ORT###"></div>
                </div>
                <div class="form">
                    <div class="form-text">Land:</div>
                    <div class="form-field"><input class="text" type="text" name="tx_zeitabo_pi1[land]" value="###LAND_1###"></div>
                </div>
                <div class="form" style="display:###DISPLAY_AUSLAND###;">
                    <div class="form-text">&nbsp;</div>
                    <div class="form-field">
                        <p>
                            (Angebot nur im Inland g&uuml;tig. Auslandspreise auf Anfrage)
                        </p>
                    </div>
                </div>
                <div class="form">
                    <div class="form-text">Telefonnummer:</div>
                    <div class="form-field"><input class="text" type="text" name="tx_zeitabo_pi1[telefon]" value="###TELEFON###"></div>
                </div>
                <div class="form">
                    <div class="form-text ###EMAIL_ERROR###">E-Mail*:</div>
                    <div class="form-field"><input class="text" type="text" name="tx_zeitabo_pi1[email]" value="###EMAIL###"></div>
                </div>
                <div class="form">
                    <div class="form-text">&nbsp;</div>
                    <div class="form-field">
                        <p>
                            (Bitte angeben, Sie erhalten von uns eine Best&auml;tigung per E-Mail)
                        </p>
                    </div>
                </div>
                <div class="form">
                    <div class="form-check"><input type="checkbox" name="tx_zeitabo_pi1[info]" ###INFO_CHECKED### value="info"></div>
                    <div class="form-text-2">
                        <p>
                            Ja, ich bin damit einverstanden, dass Sie mich ggf. &uuml;ber weitere Angebote informieren.
                        </p>
                    </div>
                </div>
                <div class="form">
                    <div class="form-check">&nbsp;</div>
                    <div class="form-text-2">
                        <p>
                            * Pflichtfelder
                        </p>
                    </div>
                </div>
            </div>
            <div class="middle-center"></div>
            <div class="middle-right">
                <h2 class="image">
                    <img src="typo3conf/ext/zeitabo/res/trans.gif" width="12" height="12" border="0" alt="">
                </h2>
                <div class="form" style="display:###ANZAHL_DISPLAY###;">
                    <div class="form-text">Gew&uuml;schte Anzahl:</div>
                    <div class="form-field"><input class="text-4" type="text" name="tx_zeitabo_pi1[anzahl]" value="###ANZAHL###"></div>
                </div>
                <div class="form" style="display:###STUDENT_DISPLAY###;">
                    <div class="form-check"><input type="checkbox" name="tx_zeitabo_pi1[student]" value="student" ###STUDENT_CHECKED###></div>
                    <div class="form-text-2">
                        <p>
                            Ich bin Sch&uuml;lerIn/StudentIn und spare 40 %. Um diese Ersparnis gew&auml;hrt zu bekommen, sende
                            ich meine g&uuml;ltige Immatrikulationsbescheinigung oder meinen g&uuml;ltigen
                            Sch&uuml;lerausweis per Post an:
                            <br>
                            <br>
                            DIE ZEIT - Leser-Service
                            <br>
                            20080 Hamburg
                        </p>
                    </div>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="white-line"></div>
        <div id="order-main-bottom">
            <div class="left">
                <a href="###RETURN_URL###">
                    <img src="typo3conf/ext/zeitabo/res/b_zurueck.gif" width="76" height="44" border="0" alt="zur&uuml;ck">
                </a>
            </div>
            <div class="right">
                <input type="image" src="typo3conf/ext/zeitabo/res/b_weiter.gif">
            </div>
        </div>
    </div>
</form>
<!-- ###ORDER_EMAIL### -->



<!-- ###ORDER_EMAIL_2### -->
<style type="text/css">
    @import url("typo3conf/ext/zeitabo/res/order.css");
</style>
<form name="zahlart" action="###ACTION###" method="get">
    <div id="order-main">
        <div id="order-main-top">
            <img src="typo3conf/ext/zeitabo/res/s_auswahl.gif" width="150" height="50" border="0" alt="Ihre Auswahl">
            <img src="typo3conf/ext/zeitabo/res/s_daten.gif" width="154" height="50" border="0" alt="Kundendaten">
            <img src="typo3conf/ext/zeitabo/res/s_zahlart_a.gif" width="99" height="50" border="0" alt="Zahlart">
            <img src="typo3conf/ext/zeitabo/res/s_check.gif" width="152" height="50" border="0" alt="Letzter Check">
        </div>
        <div class="white-line"></div>
        <div id="order-main-middle">
            <div class="middle-left">
                <h2 class="image">
                    <img src="typo3conf/ext/zeitabo/res/h_zahlungswunsch2.gif" width="111" height="15" border="0" alt="Zahlungswunsch">
                </h2>
                <!-- ERROR MESSAGE -->
                <p class="error" style="display:###MSG_ERROR###;">Bitte f&uuml;llen Sie alle Pflichtfelder aus!</p>
                <!--
                    Fr eine Fehlermeldung muss im class-Attribut der Feldbeschriftung die Klasse "error" erg„nzt werden.
                -->
                <!-- ERROR MESSAGE -->
                <div class="spacer"></div>
                <div class="form" style="display:###BANKEINZUG_DISPLAY###;">
                    <div class="form-check"><input type="radio" name="tx_zeitabo_pi1[zahlung]" value="Bankeinzug" ###CHECKED_1###></div>
                    <div class="form-text-2">
                        <p class="###SELECT_ERROR###">
                            bequem per Bankeinzug
                        </p>
                    </div>
                </div>
                <div class="spacer"></div>
                <div id="kontodaten" style="display:###BANKEINZUG_DISPLAY###;">
                    <div class="form">
                        <div class="form-text ###KONTO_ERROR###">Konto:*</div>
                        <div class="form-field"><input class="text" type="text" name="tx_zeitabo_pi1[konto]" value="###KONTO###"></div>
                    </div>
                    <div class="form">
                        <div class="form-text ###INHABER_ERROR###">Kontoinhaber:*</div>
                        <div class="form-field"><input class="text" type="text" name="tx_zeitabo_pi1[inhaber]" value="###INHABER###"></div>
                    </div>
                    <div class="form">
                        <div class="form-text ###BLZ_ERROR###">Bankleitzahl:*</div>
                        <div class="form-field"><input class="text" type="text" name="tx_zeitabo_pi1[blz]" value="###BLZ###"></div>
                    </div>
                    <div class="form">
                        <div class="form-text ###INSTITUT_ERROR###">Geldinstitut:*</div>
                        <div class="form-field"><input class="text" type="text" name="tx_zeitabo_pi1[institut]" value="###INSTITUT###"></div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="form">
                    <div class="form-check"><input type="radio" name="tx_zeitabo_pi1[zahlung]" value="Rechnung" ###CHECKED_2###></div>
                    <div class="form-text-2">
                        <p class="###SELECT_ERROR###">
                            per Rechnung (bitte keine Vorauszahlung leisten)
                        </p>
                    </div>
                </div>
            </div>
            <div class="middle-center"></div>
            <div class="middle-right">&nbsp;</div>
        </div>
        <div class="white-line"></div>
        <div id="order-main-bottom">
            <div class="left">
                <a href="###RETURN_URL###">
                    <img src="typo3conf/ext/zeitabo/res/b_zurueck.gif" width="76" height="44" border="0" alt="zur&uuml;ck">
                </a>
            </div>
            <div class="right">
                <a href="javascript:document.forms[0].submit();">
                    <img src="typo3conf/ext/zeitabo/res/b_weiter.gif" width="74" height="44" border="0" alt="weiter">
                </a>
            </div>
        </div>
    </div>
</form>
<!-- ###ORDER_EMAIL_2### -->



<!-- ###ORDER_EMAIL_3### -->
<style type="text/css">
    @import url("typo3conf/ext/zeitabo/res/order.css");
</style>
<form name="lastcheck" action="###ACTION###" method="get">
    <input type="hidden" name="tx_zeitabo_pi1[sendmail]" value="true">
    <div id="order-main">
        <div id="order-main-top">
            <img src="typo3conf/ext/zeitabo/res/s_auswahl.gif" width="150" height="50" border="0" alt="Ihre Auswahl">
            <img src="typo3conf/ext/zeitabo/res/s_daten.gif" width="154" height="50" border="0" alt="Kundendaten">
            <img src="typo3conf/ext/zeitabo/res/s_zahlart.gif" width="99" height="50" border="0" alt="Zahlart">
            <img src="typo3conf/ext/zeitabo/res/s_check_a.gif" width="152" height="50" border="0" alt="Letzter Check">
        </div>
        <div class="white-line"></div>
        <div id="order-main-middle">
            <div class="middle-3">
                <h2 class="image">
                    <img src="typo3conf/ext/zeitabo/res/h_auswahl.gif" width="78" height="12" border="0" alt="Ihre Auswahl">
                </h2>
                <p class="confirm">
                    ###PRODUKT###
                </p>
                <a href="###STEP1_URL###">
                    <img src="typo3conf/ext/zeitabo/res/b_aendern.gif" width="63" height="12" border="0" alt="&Auml;ndern">
                </a>
            </div>
            <div class="middle-center"></div>
            <div class="middle-3">
                <h2 class="image">
                    <img src="typo3conf/ext/zeitabo/res/h_anschrift.gif" width="60" height="12" border="0" alt="Anschrift">
                </h2>
                <p class="confirm">
                    ###RECHNUNG###
                </p>
                <a href="###STEP2_URL###">
                    <img src="typo3conf/ext/zeitabo/res/b_aendern.gif" width="63" height="12" border="0" alt="&Auml;ndern">
                </a>
            </div>
            <div class="middle-center"></div>
            <div class="middle-3">
                <h2 class="image">
                    <img src="typo3conf/ext/zeitabo/res/h_zahlungswunsch.gif" width="103" height="15" border="0" alt="Zahlungswunsch">
                </h2>
                <p class="confirm">
                    ###ZAHLUNG###
                </p>
                <a href="###STEP3_URL###">
                    <img src="typo3conf/ext/zeitabo/res/b_aendern.gif" width="63" height="12" border="0" alt="&Auml;ndern">
                </a>
            </div>
        </div>
        <div class="white-line"></div>
        <div id="order-main-bottom">
            <div class="left">
                <a href="###RETURN_URL###">
                    <img src="typo3conf/ext/zeitabo/res/b_zurueck.gif" width="76" height="44" border="0" alt="zur&uuml;ck">
                </a>
            </div>
            <div class="right">
                <a href="javascript:document.forms[0].submit();">
                    <img src="typo3conf/ext/zeitabo/res/b_weiter.gif" width="74" height="44" border="0" alt="weiter">
                </a>
            </div>
        </div>
    </div>
</form>
<!-- ###ORDER_EMAIL_3### -->



<!-- ###FOREIGN### -->
<script type="text/javascript">
    <!--
    ###PRICES###
    function setProduct(index1, index2) {
        text1 = "&Ouml;sterreich";
        text2 = "Jahres-Abo";
        if(index1) {
            index2 = document.productselection.selection2.options[document.productselection.selection2.selectedIndex].value;
            text1 = document.productselection.selection1.options[document.productselection.selection1.selectedIndex].text;
            text2 = document.productselection.selection2.options[document.productselection.selection2.selectedIndex].text;
        }
        else {
            index1 = document.productselection.selection1.options[document.productselection.selection1.selectedIndex].value;
            text1 = document.productselection.selection1.options[document.productselection.selection1.selectedIndex].text;
            text2 = document.productselection.selection2.options[document.productselection.selection2.selectedIndex].text;
        }
        document.productselection.elements["tx_zeitabo_pi1[pricegroup]"].value =prices[index1][index2];
        document.productselection.elements["tx_zeitabo_pi1[foreign_name]"].value = text1+" "+text2;
        document.productselection.elements["tx_zeitabo_pi1[foreign_price]"].value = prices[index1][index2];
        document.getElementById("product-copayment").firstChild.data = prices[index1][index2];
    }
    -->
</script>
<div class="content-element" style="background-color:###COLOR_1###;">
    <div class="content-2-columns">
        <div class="content-2-columns-column">
            <div class="content-inner-left">
                <h1>###HEADLINE_ABO###</h1>
                ###IMAGE_ABO###
                ###TEXT_ABO###
            </div>
        </div>
        <div class="content-2-columns-column">
            <div class="content-inner-right">
                <h1 class="img">###HEADLINE_PRODUCT###</h1>
                ###TEXT_ABO_2###
                <p class="bodytext"><b>###HEADLINE_SELECT###</b></p>
                <form name="productselection" action="###ACTION###" method="get">
                    <input type="hidden" name="tx_zeitabo_pi1[cmd]" value="order">
                    <input type="hidden" name="tx_zeitabo_pi1[pricegroup]" value="&euro; 179,40">
                    <input type="hidden" name="tx_zeitabo_pi1[foreign_name]" value="&Ouml;sterreich Jahres-Abo">
                    <input type="hidden" name="tx_zeitabo_pi1[foreign_price]" value="&euro; 179,40">
                    ###HIDDEN_FIELDS###
                    <select name="selection1" style="width:269px;" onchange="setProduct(this.options[this.selectedIndex].value, false);">
                        <option value="austria.">&Ouml;sterreich</option>
                        <option value="swiss.">Schweiz</option>
                        <option value="europe.">Europa</option>
                        <option value="europe_air.">Europa Luftpost</option>
                        <option value="overseas.">&Uuml;bersee ohne USA/Kanada</option>
                        <option value="overseas_air.">&Uuml;bersee Luftpost ohne USA/Kanada</option>
                    </select>
                    <div style="font-size:6px;">&nbsp;</div>
                    <select name="selection2" style="width:269px;" onchange="setProduct(false, this.options[this.selectedIndex].value);">
                        <option value="year">Jahres-Abo</option>
                        <option value="halfyear">Halbjahres-Abo</option>
                        <option value="year_st">Jahres-Abo STUDENT</option>
                        <option value="halfyear_st">Halbjahres-Abo STUDENT</option>
                    </select>
                </form>
                <p>&nbsp;</p>
                <p id="product-copayment" class="bodytext" style="font-weight:bold;">###FIRST###</p>
                <p>&nbsp;</p>
                <p class="bodytext">
                    Ein Auslandsabonnement der ZEIT f&uuml;r die USA und Kanada erhalten Sie &uuml;ber folgende Links:
                    <br>
                    <a href="http://www.glpnews.com/DE/TP/DieZeit.html" target="_blank">USA</a>
                    <br>
                    <a href="http://www.germancanadiannews.ca/DE/TP/DieZeit.html" target="_blank">Kanada</a>
                </p>
                <p>&nbsp;</p>
                <div class="clearer"></div>
                ###LINK###
            </div>
        </div>
    </div>
    <div class="white-line" style="display:block;"></div>
</div>
<!-- ###FOREIGN### -->



<!-- ###RESULT### -->
<div class="content-element">
    <div class="content-inner">
        <h1 class="img">###HEADLINE###</h1>
        ###TEXT###
        ###LINK###
    </div>
</div>
<!-- ###RESULT### -->
