
body {
	margin:0;
	padding:0;
	background:#fff;
}
iframe {
	padding:0px;
	margin:0px;
}
table#main {
	width:796;
	background:#ffffff;
	border:1px solid #000000;
	border-top-width: 0px;
	margin:0;
	padding:0;
	margin-left:20px;
}

tr#main-path {
	height:8px;
}


td#main-left {
	width:5px;
}
td#main-left-top {
	width:198px;
	vertical-align:top;
}

td#main-left-bottom {
	width:198px;
	vertical-align:bottom;
}

td#main-middle {
	width:5px;
}

td#main-right {
	vertical-align:top;
}

td#main-margin {
	width:5px;
}

tr#main-footer {
	height:20px;
}


td.z-blue {
	background:#e1f0ff;
}
td.z-blue div.hero {
	background:#cce6ff;
}
td.z-blue div.highlight {
	background:#d6ebff;
}
td.z-blue div.teaser {
	background:#e1f0ff;
}

td.z-orange {
	background:#f9d2a2;
}
td.z-orange div.hero {
	background:#f18f15;
}
td.z-orange div.highlight {
	background:#f8c78a;
}

td.z-red {
	background:#e6c7c6;
}
td.z-blue2 {
	background:#c9deea;
}
td.z-green {
	background:#e6ecb7;
}
td.z-white {
	background:#efefef;
}
td.z-red2 {
	background:#eec6cf;
}
td.z-blue3 {
	background:#c9d5e8;
}
td.z-purple {
	background:#f5c3dd;
}

div#content-header {
	width:796px;
	height:54px;
	background:#fff;
	margin:0;
	padding:0;
	margin-left: 20px;
	margin-top:25px;
	overflow: hidden;
}

div#content-path {
	display:none;
	height:20px;
	background:#d1e1f0;
	margin:0;
	padding:0;
}
div.clearer {
	clear:both;
	display:block;
	width:1px;
	height:1px;
}
div.content-element {
	clear:both;
}
div.content-header {
	padding:0px;
	margin:0px;
}
div#content-left-bottom {
	font-size:0px;
}

div.content-inner {
	margin:12px;
}
div.content-inner-left {
	margin:12px;
}
div.content-inner-right {
	margin:12px 12px 12px 12px;
}

div.content-2-columns {
	width:586px;
}
div.content-2-columns-column {
	float:left;
	width:293px;
	overflow:hidden;
}

div.content-3-columns {
	width:586px;
	height:222px;
	overflow:hidden;
}
div.content-3-columns-column {
	float:left;
	width:194px;
	height:222px;
	overflow:hidden;
	border-right:2px solid #ffffff;
}
div.content-3a-columns {
	width:586px;
}
div.content-3a-columns-column {
	float:left;
	width:194px;
	overflow:hidden;
	border-right:2px solid #ffffff;
}
div.double-text {
	height:100px;
}
div.tripple-text {
	height:230px;
}
div.content-landingpage {
	width:784px;
}
div.content-landingpage-top-column {
	float:left;
	width:392px;
}
div.content-landingpage-inner {
	margin:24px;
}
div.content-landingpage-3-column {
	float:left;
	width:260px;
	height:300px;
	overflow:hidden;
	border-right:2px solid #ffffff;	
}
div.content-landingpage-3-column-last {
	float:left;
	width:260px;
	height:300px;
	overflow:hidden;	
}
div.content-landingpage-2-column {
	float:left;
	width:390px;
	height:300px;
	overflow:hidden;
	border-right:2px solid #ffffff;	
}
div.content-landingpage-2-column-last {
	float:left;
	width:392px;
	height:300px;
	overflow:hidden;	
}
div.content-landingpage-1-column {
	float:left;
	width:784px;
	height:300px;
	overflow:hidden;
}
div.landingpage-header {
	height:30px;
}
div.landingpage-text {
	height:100px;
	overflow:hidden;
}


td.z-white div.content-3-columns-column {
	border-right:2px solid #efefef;
}
html>body div.content-3-columns-column {
	width:194px;
}
div.content-3-columns-column-right {
	float:left;
	width:194px;
	height:222px;
	overflow:hidden;
}

div.highlight {
	height:222px;
	overflow:hidden;
}
div.teaser {
	height:72px;
	overflow:hidden;
}

div.listing, div.listing-line {
	clear:both;
	width:260px;
}
div.listing-key {
	float:left;
	width:50px;
}
div.listing-value {
	float:left;
	width:210px;
}


div.content-main-top {
	width:586px;
	height:220px;
	border-bottom:2px solid #ffffff;
}

div.content-main-columns, div.content-main-columns-right {
	float:left;
	width:194px;
	height:220px;
	background:#ffcccc;
	border-right:2px solid #ffffff;
}

div.content-main-columns-right {
	width:194px;
	border-right:0px;
}

div.content-main-columns-inner {
	width:194px;
	height:72px;
	background:#ffcccc;
	border-bottom:2px solid #ffffff;
}


div.dotted-line {
	height:1px;
	background:#ff0000;
	margin:0px 0px 4px 5px;
	
}

div#content-footer-line {
	height:1px;
	overflow:hidden;
	margin:4px 5px 0px 5px;
	background:url(../img/dots.gif);
}

div#content-footer {
	text-align:right;
	margin-right:5px;
}

/* CONTENT ELEMENTS */

div.white-line {
	clear:both;
	height:2px;
	overflow:hidden;
	background:#ffffff;
}
td.z-white div.white-line {
		background:#efefef;
}

div.white-line-vertical {
	float:left;
	width:2px;
	height:220px;
	overflow:hidden;
	background:#ffffff;
}

/*
div.abo-product {
	width:586px;
	height:294px;
	overflow:hidden;
	background:#ffcccc;	
}

div.abo-horizontal {
	float:left;
	width:293px;
	height:220px;
}
*/
div.abo-single {
/*	height:400px;*/
}
div.abo-single-inner {
	float:left;
	width:293px;
}

div#marquee {
	position:absolute;
	top:0px;
	left:0px;
	width:586px;
	height:200px;
	overflow:hidden;
}
div.products-marquee {
	position:relative;
	width:586px;
	height:200px;
	overflow:hidden;
}

div.marquee-image {
	position:absolute;
	top:0px;
	width:200px;
	height:200px;
	cursor:pointer;
}

div#marquee-trigger-left {
	position:absolute;
	top:0px;
	left:0px;
	width:47px;
	height:200px;
	cursor:e-resize;
}

div#marquee-trigger-right {
	position:absolute;
	top:0px;
	left:539px;
	width:47px;
	height:200px;
	cursor:e-resize;
}

div.product-details {
	position:absolute;
	top:0px;
	left:0px;
	width:586px;
	height:200px;
	visibility:hidden;
}
div.product-details-image {
	float:left;
	width:294px;
}
div.product-details-text {
	float:left;
	width:266px;
	height:200px;
	overflow:hidden;
	margin:12px 0px 12px 0px;
}
div.product-details-close {
	float:left;
	width:26px;
	margin-top:12px;
}
p.product-details {
	margin:12px 12px 12px 0px;
}
div.overview {
	height:140px;
}
div.overview-column-left {
	float:left;
	width:342px;
}
div.overview-column-right {
	float:left;
	width:232px;
}
/* NAVIGATION */

a.content-path, a.content-path-act, span.content-path {
	font-family:Verdana,Arial,Helvetica,Sans-serif;
	font-size:10px;
	text-decoration:none;
	color:#000033;
	line-height:20px;
	
	margin:0px 2px 0px 2px;
}

a.content-path-act {
	font-weight:bold;
}

span.content-path {
	margin:0px;
}

div.content-navigation-line-top {
	height:1px;
	overflow:hidden;
	margin:0px 0px 5px 5px;
	background:url(../img/dots.gif);
}

div.content-navigation-line {
	height:1px;
	overflow:hidden;
	margin:10px 0px 5px 5px;
	background:url(../img/dots.gif);
}

a.content-navigation-1 {
	display:block;
	font-family:arial,Helvetica,Sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	padding:0px 0px 0px 17px;
	margin:8px 0px 2px 0px;
}

a.content-navigation-2 {
	display:block;
	font-family:arial,Helvetica,Sans-serif;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	padding:0px 0px 0px 17px;
	margin:2px 0px 2px 0px;
}

a.content-navigation-3 {
	display:block;
	font-family:arial,Helvetica,Sans-serif;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	padding:0px 0px 0px 34px;
	margin:2px 0px 2px 0px;
}
a.content-navigation-4 {
	display:block;
	font-family:arial,Helvetica,Sans-serif;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	padding:0px 0px 0px 51px;
	margin:2px 0px 2px 0px;
}
a.act-1 {
	background:url(../img/p2.gif) no-repeat;
	background-position:5px 5px;
}

a.act-2 {
	font-weight:bold;
	color:#144678;
	background:url(../img/p2.gif) no-repeat;
	background-position:5px 5px;
}

a.act-3 {
	font-weight:bold;
	background:url(../img/p2.gif) no-repeat;
	background-position:22px 5px;
}
a.act-4 {
	font-weight:bold;
	background:url(../img/p2.gif) no-repeat;
	background-position:39px 5px;
}

a.content-footer {
	font-family:arial,Helvetica,Sans-serif;
	font-size:11px;
	color:#666666;
	text-decoration:none;
	margin:0px 0px 0px 20px;
}


/* SEARCHBOX */

form {
	padding:0px;
	margin:0px 0px 0px 0px;
}
div#content-searchbox form {
	margin:10px 0px 10px 0px;
}

span.content-searchbox {
	font-family:arial,Helvetica,Sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	padding:0px 5px 0px 17px;
}

input.content-searchbox {
	width:120px;
	font-family:arial,Helvetica,Sans-serif;
	font-size:11px;
	color:#000000;
	border:1px solid #666666;
	margin:0px 5px 0px 0px;
}

/* TEXTSTYLES */

a.abo-link {
	display:block;
	margin:12px 0px 24px 0px;
	padding:0px;
}
div.highlight a.abo-link {
	margin:12px 0px 0px 0px;
}
div.teaser a.abo-link {
	margin:12px 0px 0px 0px;
}
div.content-header {
	padding-top:12px;
	margin:0px 12px 0px 12px;
}
div.content-elements {
	margin:0px 12px 12px 12px;
}
p, span, ul, li, td, input, select {
	font-family:Arial,Helvetica,Sans-serif;
	font-size:11px;
	color:#000000;
	margin:0px 0px 0px 0px;
}
p.bodytext, p.csc-searchResult {
	font-size:11px;
	margin:6px 0px 6px 0px;
}
div.listing-line p.bodytext {
	margin:0px 0px 0px 0px;
}

table.contenttable, table.contenttable tbody, table.contenttable tr, table.contenttable td, table.contenttable p.bodytext {
	line-height:12px;
	padding:0px;
	margin:0px;
}
table.contenttable {
}
h1.img, h2.img {
	margin:0px 0px 12px 0px;
	padding:0px;
}
h2.columns {
	padding:12px 0px 0px 12px;
	margin:0px;
}
div.csc-textpicHeader-26 h1.img {
	margin:12px 12px 0px 12px;
}

div.overview-column-right h2 {
	font-size:11px;
	padding:0px;
	margin:26px 0px 0px 0px;
}

div.hero p.bodytext, div.abo-horizontal p.bodytext {
	padding:6px 12px 0px 0px;
}


div#order-main p {
	margin:6px 0px 6px 0px;
}
div.overview-column-right p {
	height:70px;
	margin:0px 0px 0px 0px;
}
span.product-selected {
	font-weight:bold;
}
ul {
	list-style-image:url(../img/list.gif);
	
}
li {
	margin-left:20px;
}
html>body li {
	margin-left:-25px;
}
dl.csc-textpic-image img {
	margin-left:12px;
}