
div#order-main { width:784px;background-color:#f0f0f0; }
div#order-main-top { font-size:0px;width:784px;height:50px;background-color:#cccccc; }
div#order-main-top img { margin:0px 24px 0px 12px; }
		
div#order-main-middle { width:784px;height:400px;overflow:hidden;background-color:#f0f0f0; }
		
div#order-main-bottom { font-size:0px;width:784px;height:44px;padding:0px;margin:0px;background-color:#cccccc; }
div#order-main-bottom div.left { float:left;width:710px; }
div#order-main-bottom div.right { float:left;width:74px; }

div.top-inner { padding:12px; }
div.middle-bottom { margin:12px; }
div.bottom-inner { float:left;margin:0px 12px 0px 0px; }

div.middle-left, div.middle-right  {float:left;width:360px;margin:12px;}
div.middle-3, div.middle-4  {float:left;margin:60px 24px 24px 24px; }
div.middle-center { float:left;width:2px;height:400px;overflow:hidden;background:#ffffff;}
div.form { clear:both;height:22px;padding:0px;margin:0px 0px 0px 0px; }
div.form-text, div.form-text-2, div.form-field, div.form-check { float:left;padding:0px;margin:0px; }
div.form-text { width:120px; }
div.form-check { width:20px; }

div.white-line { clear:both;width:784px;height:2px;overflow:hidden;background-color:#ffffff; }
div.spacer { clear:both;padding:10px; }
div.clearer { clear:both; }

h1, h2, h3, h4, p, span, input, select, .form-text, .form-zext-2 { font-family:Arial,Helvetica,Sans-serif;color:#000000; }
h2.image { font-size:0px;padding:0px;margin:0px 0px 10px 0px; }
p, span, input, select, .form-text, .form-text-2 { font-size:11px;color:#000000;padding:0px;margin:0px; }
p { margin:0px 0px 10px 0px; }
p.confirm { font-size:12px; }
p.toptext { margin:6px 12px 6px 12px; }
div.middle-left p, div.middle-right p { width:360px; }
div.middle-3 p { width:200px;height:200px; }
div.middle-4 p { width:135px;height:200px; }
div.bottom-inner p { width:400px; }
div.form-field p { width:220px; }
div.form-field span { margin:0px 12px 0px 6px; }
div.form-text-2 p { width:320px; }
input.text, select.text { width:220px; }
input.text-2 { width:110px; }
input.text-3 { width:160px; }
input.text-4 { width:60px; }
input.radio { vertical-align:middle; }

.error { color:#ff0000;font-weight:bold; }

		
		
		
		
		
		
		