
<!-- ###SERVICE_CSS### -->

<style type="text/css">
	@import url("typo3conf/ext/zeitaboservice/res/service.css");
</style>

<!-- ###SERVICE_CSS### -->


<!-- ###SERVICE_HEAD_1### -->

	<h1 class="image"><img src="typo3conf/ext/zeitaboservice/res/h_urlaub.gif" width="208" height="22" border="0" alt="ZEIT ABO-Shop" title="DIE ZEIT zieht mit" /></h1>
	<p class="toptext">
		<b>Nachsendung</b>		
	</p>
	<p class="toptext">
	  DIE ZEIT &uuml;bernimmt die Kosten f&uuml;r die Nachsendung innerhalb Deutschlands.
	  <br>
	  Wenn Sie DIE ZEIT in das Ausland nachgeschickt haben m&ouml;chten, kostet der Versand &euro; 2,-
	  zus&auml;tzlich pro Ausgabe. 
	</p>
	<p class="toptext">
		<b>Ja, bitte schicken Sie mir DIE ZEIT an meine Urlaubsanschrift!</b>
	</p>
					
<!-- ###SERVICE_HEAD_1### -->



<!-- ###SERVICE_HEAD_2### -->

	<h1 class="image"><img src="typo3conf/ext/zeitaboservice/res/h_urlaub.gif" width="208" height="22" border="0" alt="ZEIT ABO-Shop" title="DIE ZEIT zieht mit" /></h1>
	<p class="toptext">
		<b>Patenschaft</b>		
	</p>
	<p class="toptext">
	  Bereiten Sie anderen Menschen eine Freude. W&auml;hrend Ihrer Urlaubszeit liefern wir Ihre ZEIT-Ausgaben
	  an Freunde und Verwandte oder an von uns ausgew&auml;hlte gemeinn&uuml;tzige Organisationen
	  (z.B. Krankenh&auml;user, Studentenwerk).
	</p>
						
<!-- ###SERVICE_HEAD_2### -->



<!-- ###SERVICE_HEAD_3### -->

	<h1 class="image"><img src="typo3conf/ext/zeitaboservice/res/h_urlaub.gif" width="208" height="22" border="0" alt="ZEIT ABO-Shop" title="DIE ZEIT zieht mit" /></h1>
	<p class="toptext">
		<b>Lieferunterbrechung</b>		
	</p>
	<p class="toptext">
	  Sie m&ouml;chten DIE ZEIT weder in den Urlaub mitnehmen noch spenden, dann k&ouml;nnen Sie die ZEIT-Lieferung
	  unterbrechen lassen.
	</p>
	<p class="toptext">
		<b>Ja, ich unterbreche die Lieferung der ZEIT w&auml;hrend meines Urlaubs.</b>
	</p>
					
<!-- ###SERVICE_HEAD_3### -->



<!-- ###SERVICE_HEAD_4### -->

	<h1 class="image"><img src="typo3conf/ext/zeitaboservice/res/h_nicht_erhalten.gif" width="249" height="22" border="0" alt="ZEIT ABO-Shop" title="DIE ZEIT nicht erhalten" /></h1>
	<p class="toptext">
		<b>Zustellreklamation</b>		
	</p>
	<p class="toptext">
	  Der Service wird bei der ZEIT gro&szlig;geschrieben. Deshalb m&ouml;chten wir gern, dass DIE ZEIT
	  p&uuml;nktlich bei Ihnen eintrifft. Wenn das nicht der Fall sein sollte, benachrichtigen Sie uns bitte
	  umgehend. Wir k&uuml;mmern uns gern darum.
	</p>
						
<!-- ###SERVICE_HEAD_4### -->



<!-- ###SERVICE_HEAD_5### -->

	<h1 class="image"><img src="typo3conf/ext/zeitaboservice/res/h_die_zeit_zieht_mit2.gif" width="229" height="27" border="0" alt="ZEIT ABO-Shop" title="DIE ZEIT nicht erhalten" /></h1>
	<p class="toptext">
		<b>Umzug</b>		
	</p>
	<p class="toptext">
	  DIE ZEIT begleitet Sie &uuml;berallhin. Ob Sie umziehen oder heiraten, bitte benachrichtigen Sie uns
	  fr&uuml;hzeitig, wenn sich Ihre Anschrift oder Ihr Name &auml;ndert.
	</p>
	<p class="toptext">
		<b>Ja, bitte schicken Sie mir DIE ZEIT an meine neue Anschrift!</b>
	</p>
						
<!-- ###SERVICE_HEAD_5### -->



<!-- ###SERVICE_HEAD_6### -->

	<div class="content-2-columns">
			
		<div class="content-2-columns-column">
							
			<div class="content-inner-left">
								
				###SINGLE_IMAGE###
								
			</div>
										
		</div>									
							
		<div class="content-2-columns-column">
				
			<div class="content-inner-right">
				
				###SINGLE_HEADLINE###
				
				###SINGLE_TEXT###
									
			</div>	
							
		</div>
		
	</div>
	
	<div class="clearer"></div>

<!-- ###SERVICE_HEAD_6### -->



<!-- ###SERVICE_DATE_1### -->
	
	<input type="hidden" name="id" value="59">
	
	<h1 class="image"><img src="typo3conf/ext/zeitaboservice/res/h_urlaubszeit.gif" width="80" height="16" border="0" alt="Urlaubszeit" /></h1>
	
	<div class="service-form">
		<div class="form">
			<div class="form-text ###VON_ERROR###">Von:*</div>
			<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[von]" value="###VON###"><br>(TT.MM.JJJJ)</div>
		</div>
	</div>
	
	<div class="service-form">
		<div class="form">
			<div class="form-text ###BIS_ERROR###">Bis:*</div>
			<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[bis]" value="###BIS###"><br>(TT.MM.JJJJ)</div>
		</div>
	</div>
	
<!-- ###SERVICE_DATE_1### -->



<!-- ###SERVICE_DATE_2### -->
	
	<input type="hidden" name="id" value="60">
	
	<p class="toptext ###AUSWAHL_ERROR###">
		<b>Ja, ich spende DIE ZEIT w&auml;hrend meines Urlaubs an:</b>
	</p>
	
	<p class="toptext">
		<input class="radio" type="radio" name="tx_zeitaboservice_pi1[auswahl]" value="Freunde/Verwandte" ###AUSWAHL_1###><span>Freunde/Verwandte</span>
		<input class="radio" type="radio" name="tx_zeitaboservice_pi1[auswahl]" value="Organisationen" ###AUSWAHL_2###><span>gemeinn&uuml;tzige Organisationen</span>
		<br>&nbsp;
	</p>
	
	
	<h1 class="image"><img src="typo3conf/ext/zeitaboservice/res/h_urlaubszeit.gif" width="80" height="16" border="0" alt="Urlaubszeit" /></h1>
	
	<div class="service-form">
		<div class="form">
			<div class="form-text ###VON_ERROR###">Von:*</div>
			<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[von]" value="###VON###"><br>(TT.MM.JJJJ)</div>
		</div>
	</div>
	
	<div class="service-form">
		<div class="form">
			<div class="form-text ###BIS_ERROR###">Bis:*</div>
			<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[bis]" value="###BIS###"><br>(TT.MM.JJJJ)</div>
		</div>
	</div>
		
<!-- ###SERVICE_DATE_2### -->



<!-- ###SERVICE_DATE_3### -->
	
	<input type="hidden" name="id" value="61">
	
	<h1 class="image"><img src="typo3conf/ext/zeitaboservice/res/h_urlaubszeit.gif" width="80" height="16" border="0" alt="Urlaubszeit" /></h1>
	
	<div class="service-form">
		<div class="form">
			<div class="form-text ###VON_ERROR###">Von:*</div>
			<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[von]" value="###VON###"><br>(TT.MM.JJJJ)</div>
		</div>
	</div>
	
	<div class="service-form">
		<div class="form">
			<div class="form-text ###BIS_ERROR###">Bis:*</div>
			<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[bis]" value="###BIS###"><br>(TT.MM.JJJJ)</div>
		</div>
	</div>
	
<!-- ###SERVICE_DATE_3### -->



<!-- ###SERVICE_DATE_4### -->
	
	<input type="hidden" name="id" value="51">
	
	<h1 class="image"><img src="typo3conf/ext/zeitaboservice/res/h_mitteilung.gif" width="76" height="21" border="0" alt="Mitteilung" /></h1>
	<!-- ERROR MESSAGE -->
	<p class="error" style="display:###TEXT_ERROR###">Bitte schreiben Sie uns eine kurze Nachricht!</p>
	
	<p class="toptext">
		<textarea name="tx_zeitaboservice_pi1[text]">###TEXT###</textarea>
	</p>
	
<!-- ###SERVICE_DATE_4### -->



<!-- ###SERVICE_DATE_5### -->
	
	<input type="hidden" name="id" value="49">
	
	<h1 class="image"><img src="typo3conf/ext/zeitaboservice/res/h_beginn2.gif" width="229" height="21" border="0" alt="Beginn der Anschriften&auml;nderung" /></h1>
	
	<div class="service-form">
		<div class="form">
			<div class="form-text ###VON_ERROR###">Ab:*</div>
			<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[von]" value="###VON###"><br>(TT.MM.JJJJ)</div>
		</div>
	</div>
	
<!-- ###SERVICE_DATE_5### -->



<!-- ###SERVICE_DATE_6### -->
	
	<input type="hidden" name="id" value="53">
	
	<h1 class="image"><img src="typo3conf/ext/zeitaboservice/res/h_singlezeit.gif" width="238" height="21" border="0" alt="Mitteilung" /></h1>
	<!-- ERROR MESSAGE -->
	<p class="error" style="display:###TEXT_ERROR###">Bitte schreiben Sie uns eine kurze Nachricht!</p>
	
	<p class="toptext">
		<textarea name="tx_zeitaboservice_pi1[text]">###TEXT###</textarea>
	</p>
	
<!-- ###SERVICE_DATE_6### -->



<!-- ###SERVICE### -->
	<form>
	
		<input type="hidden" name="tx_zeitaboservice_pi1[sendmail]" value="true">
		
		<div id="service-main">
		
			<div id="service-main-top">
				
				<div class="service-inner">
				
					###SERVICE_HEAD###
									
				</div>
												
			</div>
		
			
			<div class="white-line"></div>
			
			<div class="service-inner">
				
				###SERVICE_DATE###
								
			</div>
			
			<div class="white-line"></div>
			
			<div id="service-main-form">
				
				<div class="service-inner">	
					
					<!-- ERROR MESSAGE -->
					<p class="error" style="display:###MSG_ERROR###">Bitte f&uuml;llen Sie alle Pflichtfelder aus!</p>
					
					<div class="service-form">
					
						<h2 class="image">
							<img src="typo3conf/ext/zeitaboservice/res/###HEADLINE_1###" border="0" alt="Anschrift 1">
						</h2>
						
						<div class="form" style="display:###DISPLAY_ABO_NR###;">
							<div class="form-text">Abo-/Kunden-Nr.:</div>
							<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[kundennr]" value="###KUNDENNR###"></div>
						</div>
						<div class="form">
							<div class="form-text">Anrede:</div>
							<div class="form-field"><input class="radio" type="radio" name="tx_zeitaboservice_pi1[anrede]" value="Herr" ###ANREDE_1###><span>Herr</span><input class="radio" type="radio" name="tx_zeitaboservice_pi1[anrede]" value="Frau" ###ANREDE_2###><span>Frau</span></div>
						</div>
						<div class="form">
							<div class="form-text">Firma:</div>
							<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[firma]" value="###FIRMA###"></div>
						</div>
						<div class="form">
							<div class="form-text ###NAMEN_ERROR###">Vor- und Nachname:###M_1###</div>
							<div class="form-field"><input class="text-2" type="text" name="tx_zeitaboservice_pi1[vorname]" value="###VORNAME###"><input class="text-2" type="text-2" name="tx_zeitaboservice_pi1[nachname]" value="###NACHNAME###"></div>
						</div>
						<div class="form">
							<div class="form-text ###STRASSENR_ERROR###">Stra&szlig;e und Hausnr.:###M_1###</div>
							<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[strassenr]" value="###STRASSENR###"></div>
						</div>
						<div class="form">
							<div class="form-text">Adresszusatz:</div>
							<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[zusatz]" value="###ZUSATZ###"></div>
						</div>
						<div class="form">
							<div class="form-text ###PLZORT_ERROR###">PLZ und Ort:###M_1###</div>
							<div class="form-field"><input class="text-3" type="text" name="tx_zeitaboservice_pi1[plz]" value="###PLZ###"><input class="text-4" type="text" name="tx_zeitaboservice_pi1[ort]" value="###ORT###"></div>
						</div>
						<div class="form">
							<div class="form-text">Land:</div>
							<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[land]" value="###LAND###"></div>
						</div>
						<div class="form">
							<div class="form-text">Telefonnummer:</div>
							<div class="form-field"><input class="text-3" type="text" name="tx_zeitaboservice_pi1[vorwahl]" value="###VORWAHL###"><input class="text-4" type="text" name="tx_zeitaboservice_pi1[rufnummer]" value="###RUFNUMMER###"></div>
						</div>
						<div class="form">
							<div class="form-text">Faxnummer:</div>
							<div class="form-field"><input class="text-3" type="text" name="tx_zeitaboservice_pi1[faxvorwahl]" value="###FAXVORWAHL###"><input class="text-4" type="text" name="tx_zeitaboservice_pi1[faxnummer]" value="###FAXNUMMER###"></div>
						</div>
						<div class="form">
							<div class="form-text ###EMAIL_ERROR###">E-Mail:###M_2###</div>
							<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[email]" value="###EMAIL###"></div>
						</div>
						<p>
							(* Pflichtfelder)
						</p>	
					</div>
					
					<div class="service-form" style="display:###DISPLAY_ADDRESS_2###;">
					
						<h2 class="image">
							<img src="typo3conf/ext/zeitaboservice/res/###HEADLINE_2###" border="0" alt="Anschrift 2">
						</h2>
												
						<div class="form">
							<div class="form-text">Anrede:</div>
							<div class="form-field"><input class="radio" type="radio" name="tx_zeitaboservice_pi1[anrede2]" value="Herr" ###ANREDE2_1###><span>Herr</span><input class="radio" type="radio" name="tx_zeitaboservice_pi1[anrede2]" value="Frau" ###ANREDE2_2###><span>Frau</span></div>
						</div>
						<div class="form">
							<div class="form-text">Firma:</div>
							<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[firma2]" value="###FIRMA2###"></div>
						</div>
						<div class="form">
							<div class="form-text ###NAMEN2_ERROR###">Vor- und Nachname:*</div>
							<div class="form-field"><input class="text-2" type="text" name="tx_zeitaboservice_pi1[vorname2]" value="###VORNAME2###"><input class="text-2" type="text-2" name="tx_zeitaboservice_pi1[nachname2]" value="###NACHNAME2###"></div>
						</div>
						<div class="form">
							<div class="form-text ###STRASSENR2_ERROR###">Stra&szlig;e und Hausnr.:*</div>
							<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[strassenr2]" value="###STRASSENR2###"></div>
						</div>
						<div class="form">
							<div class="form-text">Adresszusatz:</div>
							<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[zusatz2]" value="###ZUSATZ2###"></div>
						</div>
						<div class="form">
							<div class="form-text ###PLZORT2_ERROR###">PLZ und Ort:*</div>
							<div class="form-field"><input class="text-3" type="text" name="tx_zeitaboservice_pi1[plz2]" value="###PLZ2###"><input class="text-4" type="text" name="tx_zeitaboservice_pi1[ort2]" value="###ORT2###"></div>
						</div>
						<div class="form">
							<div class="form-text">Land:</div>
							<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[land2]" value="###LAND2###"></div>
						</div>
						<div class="form">
							<div class="form-text">Telefonnummer:</div>
							<div class="form-field"><input class="text-3" type="text" name="tx_zeitaboservice_pi1[vorwahl2]" value="###VORWAHL2###"><input class="text-4" type="text" name="tx_zeitaboservice_pi1[rufnummer2]" value="###RUFNUMMER2###"></div>
						</div>
						<div class="form">
							<div class="form-text">Faxnummer:</div>
							<div class="form-field"><input class="text-3" type="text" name="tx_zeitaboservice_pi1[faxvorwahl2]" value="###FAXVORWAHL2###"><input class="text-4" type="text" name="tx_zeitaboservice_pi1[faxnummer2]" value="###FAXNUMMER2###"></div>
						</div>
						<div class="form">
							<div class="form-text">E-Mail:</div>
							<div class="form-field"><input class="text" type="text" name="tx_zeitaboservice_pi1[email2]" value="###EMAIL2###"></div>
						</div>
																		
					</div>
					
				</div>
				
				<div class="white-line"></div>
				
				<div class="service-inner">
					
					<input type="image" src="typo3conf/ext/zeitaboservice/res/b_abschicken.gif" alt="Abschicken">
					
					<p class="toptext">
						Sie k&ouml;nnen uns auch ein Fax schicken: 0180 - 52 52 908*, anrufen: 0180 - 52 52 909*
						(*0,14 &euro;/Min. aus dem deutschen Festnetz, max. 0,42  &euro;/Min. aus dem Mobilfunknetz.) eine E-Mail schreiben:
						<a href="mailto:abo@zeit.de">abo@zeit.de</a> oder einen Brief senden an:
						DIE ZEIT-Leser-Service, 20080 Hamburg.					</p>
					
			  </div>		
				
			</div>
						
		</div>
	
	</form>
	
<!-- ###SERVICE### -->



<!-- ###RESULT### -->

	

<!-- ###RESULT### -->